body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark .card {
  background-color: #2b2b2b;
  color: white;
}

body.dark .column {
  background-color: #292929;
}

body.dark h3 {
  background-color: #3a3a3a;
}
